body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #FFD700;
    color: black;
    text-align: center;
    padding: 40px;
}

section {
    padding: 20px;
    background-color: black;
    margin: 20px;
    border-radius: 10px;
    color: white;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #FFD700;
    color: black;
}
nav {
    background-color: black;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li a {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
.property {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
  background-color: white;
}
.property img {
  border-radius: 10px;
}
section iframe {
  border-radius: 10px;
}
